@font-face {
    font-family: 'Caviar';
    src: url('../../../../../fonts/CaviarDreams.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CaviarBold';
    src: url('../../../../../fonts/CaviarDreams-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CaviarBoldItalic';
    src: url('../../../../../fonts/CaviarDreams_BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CaviarItalic';
    src: url('../../../../../fonts/CaviarDreams_Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Caviar';
}


/* All things header (navbar in Bootstrap speak) go here.
    To understand how to change things around you kind of just
    have to look through the html classes that are used in opening tags.
    I'm pretty sure this is the most complicated part. */

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    color: #000;
    background-color: rgba(255, 255, 255, 0.95);
    /* padding percent controls height of header */
    padding: 2.4% 0;
    font-size: 1.2em;
    border: 0;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.navbar-brand {
    float: left;
    min-height: 59px;
    padding: 0 15px 15px;
}

.navbar-inverse .navbar-nav .active li a {
    color: #d5d5d5;
    background-color: #77B5FE;
    /* this is the color of the owl by the way */
}

.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
    color: #fff;
    background-color: #77B5FE;
}

.navbar-toggle {
    background: #77B5FE;
}

.local a:hover {
    color: #77B5FE !important;
}

.dropdown a:hover {
    color: #77B5FE !important;
}

.logo {
    max-height: 55px;
    border-radius: 10px;
}


/* End header (navbar) section */


/* container is used throughout the bootstrap html, you can search for it within the html */

.container {
    margin: 4% auto;
}

div.a {
    font-size: 130%;
    padding-bottom: 12px;
}

li.a {
    font-size: 130%;
    padding-bottom: 6px;
}


/* All things banner related */

.jumbotron {
    background-size: cover;
    background-position: center center;
    margin-top: 86px;
    margin-bottom: 20px;
    background-size: cover;
    color: #fff;
    border-radius: 0;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
    z-index: 1;
    overflow-y: hidden;
}


/* This is the text in the center of the banner image */

.display-3 {
    transform: translateY(100%);
    text-transform: uppercase;
    text-shadow: 1px 1px #000;
}


/* End Jumbotron */


/* This section controls the circular testimonial icons, which are pokemon now */

#icon {
    max-width: 170px;
    margin: 1% auto;
    border-radius: 100px;
    background-color: #77B5FE;
    border: 1px solid black;
}


/* This is the footer section, including .fab, which are our social media links. */

.page-footer {
    width: 100%;
    padding: 5%;
}


/* privacy and legal links */

.footer-info {
    color: #000;
    text-decoration: none;
    font-size: .9em;
}

.footer-info:hover {
    color: #808080;
    text-decoration: none;
}

.footer-hr {
    margin: 1% 27% 1%;
}

.fab {
    padding: 1%;
    font-size: 30px;
    color: #000;
}

.fab:hover {
    color: #696969;
    text-decoration: none;
}

.footer-copyright {
    font-size: .78em;
}


/* changing the size of social media links with mobile screens */

@media (max-width: 900px) {
    .fab {
        font-size: 20px;
        padding: 5px;
    }
}


/* changing the circle testimonial icons and font sizes with mobile screens */

@media (max-width: 600px) {
    #icon {
        max-width: 150px;
    }
    h2 {
        font-size: 1.7em;
    }
}

form {
    max-width: 700px;
    margin: 5%;
    margin-bottom: 50px;
}

span {
    color: red;
}

fieldset {
    padding: 10px;
    margin: 20px 0px 100px 20px;
    border: 1px solid #666;
}

legend {
    font-size: 2em;
    padding: 5px;
    font-style: italic;
}

input[type=text],
input[type=phone],
input[type=email] {
    height: 30px;
    width: 40%;
    margin: 10px 20px;
}

textarea {
    width: 90%;
    margin-left: 10px;
}

.img-product {
    margin-bottom: 30px;
}

.productnoimage h3 {
    margin:0px;
    padding:0px;
}

